[Unit]
Description=Search tweets about fascode

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/share/search_tweets/fascode_search_tweets.py

[Install]
WantedBy=multi-user.target
